body {
  display: grid;
  grid-template-columns: 200px 1fr 150px;
  grid-template-rows: 80px auto 40px;
  grid-template-areas:
    "header header header"
    "nav content sidebar"
    "footer footer footer";
}
header {
  grid-area: header;
}
section {
  grid-area: content;
}
nav {
  grid-area: nav;
}
aside {
  grid-area: sidebar;
}
footer {
  grid-area: footer;
}

ol {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  grid-auto-flow: column;
  align-items: center;
}

ol > li {
  text-align: center;
  padding: 10px;
}
